:root {
  --primary: rgb(39, 39, 117);
  --secondary: skyblue;
  --tertiary: rgba(235, 98, 48, 0.842);
  --shadow: -5px 5px 10px 5px rgba(128, 128, 128, 0.705);
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto; /* distributes the equal margin across the conten**/
}

.btn {
  background-color: var(--tertiary);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.btn:hover {
  cursor: pointer;
}

/* global message */
.global {
  background: var(--secondary);
  padding: 10px;
}

.global > div {
  display: flex;
  justify-content: space-between;
}

/* <!-- header section --> */
header {
  background: var(--primary);
  color: white;
  padding: 10px 0;
  font-size: 20px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: white;
  color: var(--primary);

  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div {
  border: 2px dotted var(--primary);
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 1rem;
}

header ul li:hover {
  cursor: pointer;
  background: rgb(143, 27, 27);
  transform: scale(1.3);
}

/* <!-- hero section  --> */
.hero {
  background: url(./assets/img1.jpg) center;
  background-size: cover;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 450px;
  background: rgba(0, 0, 0, 0.473);
  color: white;
  padding: 32px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content hr {
  width: 100%;
}
/* <!-- lastest post section --> */
.latest {
  padding: 3rem, 0;
  background: url(./assets/img2.jpg) no-repeat center;
  background-size: cover;
  filter: grayscale(0.4);
}

.main {
  display: flex;
  gap: 1rem;
}

.articles {
  width: 60%;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  box-shadow: var(--shadow);
  background: rgba(255, 255, 255, 0.623);
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 20px 16px;
}

article .art-img {
  width: 350px;
}

.side-links {
  width: 40%;
}

.country {
  background-color: rgba(33, 126, 33, 0.733);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.date {
  background-color: rgba(33, 126, 33, 0.733);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}

article .btn {
  float: right;
}
/* <!-- recommendation sectin  --> */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 350px;
  box-shadow: var(--shadow);
  padding-bottom: 31px;
  border-radius: 10px;
  flex-grow: 1;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card .btn {
  width: 100%;
}
/* <!-- subscribe section  --> */
.subs {
  background-color: var(--secondary);
  margin-top: 2rem;
  padding: 32px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.subs input {
  line-height: 42px;
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.774);
  border-radius: 5px;
}
/* <!-- footer --> */
footer {
  background: black;
  color: white;
  padding: 60px;
  text-align: center;
  margin-top: 12px;
}
